FLASK_ENV=development  
FLASK_DEBUG=True
#command to create a secret key
#python -c 'import secrets; print(secrets.token_hex(32))
SECRET_KEY=

#need to configure the gcp (google cloud) and firebase
GOOGLE_APPLICATION_CREDENTIALS= 
FIREBASE_SERVICE_ACCOUNT_KEY=

#simple though
MONGODB_URI=
MONGODB_DB_NAME=

#simple though
API_BASE_URL=
FRONTEND_URL=

#simple though
JWT_SECRET=
JWT_EXPIRES_MIN=4150

#gcp things
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_PROJECT_ID=
GOOGLE_REDIRECT_URI=
OAUTH_SUCCESS_REDIRECT=

# Encryption key (base64 urlsafe Fernet key) for encrypting tokens at rest
# Generate with:
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
TOKENS_ENC_KEY=